:root {
    --header-font: "Secular One", sans-serif;
    --desc-font: "Orienta", sans-serif;
}

h2 {
    font-family: var(--header-font);
    color: #4d4d4d;
}

p {
    font-family: var(--desc-font);
    color: #776f6f;
}

.wrapper_carousel {
    height: 400px;
    width: 97%;
    margin: auto;
    position: relative;
    box-shadow: 0px 2px #a4a4a4;
}

.carousel-data {
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-item {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 500;
    transition: 500ms ease-in-out;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.carousel-content-grid {
    padding-left: 40px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.carousel-content-grid img {
    margin: auto;
}

.read-more {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 50px;
}

.initial-slide,
.active-slide {
    opacity: 1;
    position: relative;
    z-index: 1000;
    visibility: visible;
}

.next,
.prev {
    z-index: 900;
}

.next {
    -webkit-animation: animate-right 500ms;
    animation: animate-right 500ms;
}

.prev {
    -webkit-animation: animate-left 500ms;
    animation: animate-left 500ms;
}

@-webkit-keyframes animate-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animate-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes animate-left {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(0);
    }
}

@keyframes animate-left {
    100% {
        transform: translateX(-100%);
    }
    0% {
        transform: translateX(0);
    }
}

.carousel-controls {
    position: absolute;
    z-index: 600;
    right: 0;
    top: 50%;
    margin-right: 20px;
}

.carousel-controls button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-controls button .active-indicator {
    background-color: #38b09d;
}
