@import url('fonts/inter/inter.css');

/* General CSS */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
    background: #f5f5f5;
}

/* Elements CSS */
/* Element CSS - Link */
a {
    font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* Element CSS - Text */
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

/* Element CSS - Input */
input, select {
	outline: none;
	border: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

/* Element CSS - Button */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/* Element CSS - Others */
.responsive {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
}

.responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: 0;
}

/* Body Content CSS */
/* Body Content - CSS for whole page */
.container-webcase {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 0.8s;
}

/* Body Content - The box */
.wrap-webcase {
  max-width: 960px;
  background: #fff;
  border-radius: 2px;
  padding: 50px 80px 59px 80px;
  position: relative;
  -webkit-box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
  -moz-box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
  box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
  transition: all 0.8s;
}

/* Body Content - Header outside, above the box */
.header {
  width: 100%;
  max-width: 960px;
  padding: 40px 0  30px 0;
  position: relative;
}

/* Body Content - Footer outside, below the box*/
.footer {
  width: 100%;
  max-width: 960px;
  padding: 40px 0  20px 0;
  position: relative;
  color: #999;
  font-size: 13px;
}

/* Body Content - Size for the log */
.logo img {
  height: 60px;
}

/* Body Content - Title of the box */
.webcase-form-title {
  display: block;
  width: 100%;
  font-size: 27px;
  font-weight: 700;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 42px;
}

/* Body Content - Subtitle of the box */
.lead {
  font-size: 22px;
  max-width: 100%;
  width: 100%;
  padding: 10px 0 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EFEFEF;
  color: #000;
}

.no-bottom-padding {
  padding-bottom: 10px;
}

/* Body Content - Class for wrap box */
.wrap-input {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 15px;
}

/* Body Content - Title for the wrap box */
.label-input {
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
}

/* Body Content - Selection group */
.checkbox-selector {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.checkbox-selector > .selector {
  flex: 1 0 21%;
  margin: 5px;
  height: 100px;
  background-color: #f2f2f2;
  border: 1px solid #e6e9eb;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}

.checkbox-selector > .selector:hover {
  border: 1px solid #CCC;
  transition: all 0.4s;
  background-color: #f0f0f0;
}

.checkbox-selector > .selector:first-child {
  margin-left: 0;
}

.checkbox-selector > .selector:last-child {
  margin-right: 0;
}

.checkbox-selector > .selector .selector-content {
  margin: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-selector > .selector .selector-content .div {
  flex-grow: 1;
  line-height: 15px;
}

.checkbox-selector > .selector .selector-content .div p {
  margin: 10px 0 0 5px;
  line-height: 15px;
}

.checkbox-selector > .selector .selector-content .div .fas {
  font-size: 38px;
  margin: 10px;
  margin-left: 0;
  color: #00a19c;
}

.checkbox-selector > .selector.active {
  background-color: #00a19c;
  border: 1px solid #00a19c;
  -webkit-box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
  -moz-box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
  box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
}

.checkbox-selector > .selector.active .selector-content .div p,
.checkbox-selector > .selector.active .selector-content .div .fas {
  color: #FFF;
}

/* Body Content - Breadcrumbs CSS*/
.breadcrumbs {
    padding: 0;
    margin-top: 2rem;
}

.breadcrumbs_item {
    display: inline-block;
}

.breadcrumbs_item:not(:last-of-type)::after {
    content: '\203a';
    margin: 0 5px;
    color: #cccccc;
}

.breadcrumbs_link {
    text-decoration: none;
    color: #8a8a8a;
}

.breadcrumbs_link:hover {
    text-decoration: underline;
    color: #383838;
}

.breadcrumbs_link-active {
    color: #383838;
    font-weight: 600;
}

.hidden-padding{
    padding-right:20rem;
}

.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Responsive Scale */

@media only screen and (min-width: 1000px) {
     #wrap-webcase {
      max-width: 1000px;
      background: #fff;
      border-radius: 2px;
      padding: 66px 115px 59px 115px;
      -webkit-box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
      -moz-box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
      box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
      transition: all 0.8s;
    }

    .hidden-padding{
    padding-right: 47rem;
}
}

@media only screen and (max-width: 375px) {
    .wrap-webcase {
      max-width: 960px;
      background: #fff;
      border-radius: 2px;
      padding: 66px 20px 59px 20px;
      position: relative;
      -webkit-box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
      -moz-box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
      box-shadow: -1px 12px 22px -6px rgba(0,0,0,0.24);
      transition: all 0.8s;
    }

    .hidden-padding{
        padding-right:0rem;
    }
#files:required{
 color: #008080;
 border-color: red;
 !important;
}

}
