.width-full{
  width: 100%;
}

.button-bottom-cluster{
  padding-bottom: 25px;
}

.petronascolor {
    background: #38B09D;
}

.logosizing {
    height: 140px;
    width: 140px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.bg-white {
    background-color: #fff!important;
}
.btn-light {
    color: #1a202c;
    background-color: #fff;
    border-color: #cbd5e0;
}
.ml-2, .mx-2 {
    margin-left: .5rem!important;
}

.card-footer:last-child {
    border-radius: 0 0 .25rem .25rem;
}
.card-footer, .card-header {
    display: flex;
    align-items: center;
}
.card-footer {
    padding: .5rem 1rem;
    background-color: #fff;
    border-top: 0 solid rgba(0,0,0,.125);
}

.welcome {
    padding-right: 2px;
    color: solid white !important;
}

.footerstyle {
    position:fixed;
    bottom:0;
    margin-bottom: 0;
    padding: 10px 10px 0px 10px;
    width:100%;
    color: white;
    background-color: black;
    height:75px;
}

.page-wrap {
  min-height: 100% !important;
  /* equal to footer height */
  margin-bottom: -75px !important;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 75px;
}

/* html, body {
    height:100% !important;
    padding-bottom: 50px !important;
} */

/* body{
  height:100% !important; 
} */

.left {
    width: 40px;
    margin: 0px;
    padding: 0px;
    background-color: #38B09D;
    float: left;

  }
  .right {
    width: 40px;
    background-color: #38B09D;
    float: right;
  }


  .navi{
    background-color: 383838 !important;
  }

  .w3-section
  {margin-top:16px!important;margin-bottom:16px!important}

  .w3-button:hover{color:#000!important;background-color:#ccc!important}
  .w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
  .w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}

  .myButton {
	box-shadow:inset 0px 1px 0px 0px #828282;
	background-color:#828282;
	border-radius:6px;
	border:1px solid #828282;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:4px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #828282;
}
.myButton:active {
	position:relative;
	top:1px;
}

.reject-button {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #f7796b 5%, #ce0100 100%);
	background-color:#f7796b;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	position: absolute;
    width: 183px;
    height: 42px;
    left: 1230px;
    top: 600px;
}
.reject-button:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #f7796b 100%);
	background-color:#ce0100;
}


.approve-button {
	box-shadow:inset 0px 1px 0px 0px #b1e3a4;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	position: absolute;
    width: 183px;
    height: 42px;
    left: 1030px;
    top: 600px;
}
.approve-button:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}


.demoFont {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 25px;
letter-spacing: -1.0px;
word-spacing: 1px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
padding-bottom: 10px;
}

.sub-font {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 20px;
letter-spacing: -1.0px;
word-spacing: 1px;
color: #000000;
font-weight: 700;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
padding-bottom: 10px;
}

.force-overflow
{
	min-height: 450px;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 450px;
	width: 500px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.pfa {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.pfa:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

.approved {
	box-shadow:inset 0px 1px 0px 0px #38B09D;
	background:linear-gradient(to bottom, #38B09D 5%, #5cb811 100%);
	background-color:#38B09D;
	border-radius:6px;
	border:1px solid #38B09D;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.approved:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #38B09D 100%);
	background-color:#38B09D;
}

.rej {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	background-color:#f24537;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.rej:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	background-color:#c62d1f;
}

.pad {
padding-top: 50px;
}

table.minimalistBlack {
  border: 1px solid #A0A0A0;
  position: absolute;
  left: 400px;
  top: 300px;
  width: 1000px;
  text-align: center;
  border-collapse: collapse;
}
table.minimalistBlack td, table.minimalistBlack th {
  border: 1px solid #A0A0A0;
  padding: 10px 20px;
}
table.minimalistBlack tbody td {
  font-size: 13px;
  background: #ffffff;
}
table.minimalistBlack thead {
  background: #DDDDDD;
  border-bottom: 2px solid #A4A4A4;
}
table.minimalistBlack thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-left: 0px solid #D0E4F5;
}
table.minimalistBlack thead th:first-child {
  border-left: none;
}

table.minimalistBlack tfoot td {
  font-size: 14px;
}

.trackerfont {
font-family: Arial, Helvetica, sans-serif;
font-size: 28px;
letter-spacing: -0.6px;
word-spacing: -2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
/* position:absolute;
left: 400px;
top: 250px; */
}

.aa {
align: center;
width: 350px;
position: absolute;
left: 350px;
top: 130px;

}

table.minimalistBlac {
  position: absolute;
  left: 500px;
  top: 250px;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #B8C1C0;
  text-align: left;
  border-collapse: collapse;
  padding: 10px 4px;
}
table.minimalistBlac td, table.minimalistBlack th {
  border: 0px solid #000000;
  padding: 10px 4px;
}
table.minimalistBlac tbody td {
  font-size: 13px;
}
table.minimalistBlac thead {
  background: #EFEFEF;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #f0f0f0 66%, #EFEFEF 100%);
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #f0f0f0 66%, #EFEFEF 100%);
  background: linear-gradient(to bottom, #f3f3f3 0%, #f0f0f0 66%, #EFEFEF 100%);
  border-bottom: 2px solid #B8C1C0;
}
table.minimalistBlac thead th {
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  border-left: 0px solid #D0E4F5;
}
table.minimalistBlac thead th:first-child {
  border-left: none;
}

table.minimalistBlac tfoot td {
  font-size: 14px;
}

.libFont {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 28px;
letter-spacing: -0.6px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
position:absolute;
left: 700px;
top: 180px;
}

.repFont {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 28px;
letter-spacing: -0.6px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
position:absolute;
left: 300px;
top: 150px;
}